.this__day {
    padding: 16px;
    width: 328px;
    border-radius: var(--standart-border-radius);
    background: var(--components-background-default);
    box-shadow: var(--components-shadow-default);
}
.top__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 16px;
}
.current__temperature {
    font-size: 96px;
    font-weight: 700;
    color: var(--primary-color);
}
.weather__logo svg {
    width: 96px;
    height: 96px;
}
.bottom__block {
    font-size: 24px;
    font-weight: 500;
}
.this__day_title {
    margin-bottom: 16px;
}
.current__time, .current__city {
    color: var(--base-color);
}
.current__time {
    margin-bottom: 5px;
}
