.popup {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(149, 149, 149, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
}
.popup__content {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    background-color: #ffffff;
    padding: 16px;
    border-radius: 12px;
    position: relative;
}

.close_popup {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
}
.close_popup svg {
    transition: 0.6s;
}
.close_popup:hover svg {
    transform: rotate(360deg);
}
.close_popup:hover svg path {
    fill: #ff0000;
}
