@import '~normalize.css';
@import './variables.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
    box-sizing: border-box;
    background: var(--body-background-default);
}
.container {
    font-family: 'Montserrat', Verdana, Tahoma, sans-serif;
    color: var(--text-color-default);
    max-width: 1200px;
    margin: 24px auto;
    padding: 16px;
}
