@import '~normalize.css';
@import './variables.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
    box-sizing: border-box;
    background: var(--body-background-default);
}
.container {
    font-family: 'Montserrat', Verdana, Tahoma, sans-serif;
    color: var(--text-color-default);
    max-width: 900px;
    margin: 24px auto;
    padding: 16px;
}
a {
    text-decoration: none;
    color: var(--text-color-default);
    cursor: pointer;
}
.main-page {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}
.this-day-forecast {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 16px;
}

@media (max-width:768px) {
    .this-day-forecast { 
        flex-wrap: wrap;
    }
}