:root {
    /*--body-background-dark: url(./assets/images/bg_night.jpg); */
    --body-background-dark: #0d1117;
    /*--body-background-light: url(./assets/images/bg_day.jpg); */
    --body-background-light: #e6f0f8;
    --body-background-default: var(--body-background-light);

    --components-background-dark: #4f4f4f;
    --components-background-light: #ffffff;
    --components-background-default: var(--components-background-light);

    --card-background-dark: #2e3035;
    --card-background-light: #cfe1fc;
    --card-background-default: var(--card-background-light);

    --components-shadow-dark: 2px 4px 16px -2px rgba(210, 210, 210, 0.3);
    --components-shadow-light: 2px 4px 16px -2px rgba(70, 70, 70, 0.3);
    --components-shadow-default: var(--components-shadow-light);

    --text-color-dark: #ffffff;
    --text-color-light: #000000;
    --text-color-default: var(--text-color-light);

    --base-color: #8892a8;
    --primary-color: #4793ff;
    --standart-border-radius: 12px;
    --mini-border-radius: 6px;
}
