.next__days {
    padding: 16px;
    border-radius: 0 0 12px 12px;
    background: #ffffff;
    box-shadow: 2px 4px 16px -2px rgba(179, 179, 179, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    overflow: auto;
}
.weather__card {
    font-size: 12px;
    color: #939CB0;
    background: rgba(71, 147, 255, 0.2);
    width: 137px;
    height: 200px;
    padding: 12px 8px;
    border-radius: 8px;
    cursor: pointer;
}
.day__weather_logo svg {
    width: 52px;
    height: 52px;
}
.day__title, .day__weather_logo, .day__temperature, .night__temperature {
    margin-bottom: 8px;
}
.day__date {
    margin-bottom: 12px;
}
.day__title, .day__temperature span {
    font-size: 18px;
    color: #000;
}
.tabs__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
    margin-bottom: 8px;
}
.tabs__block, .select__tabs {
    display: flex;
    gap: 8px;
}
.tab, .close {
    padding: 8px 12px;
    border-radius: 8px 8px 0 0;
    box-shadow: 2px 4px 16px -2px rgba(179, 179, 179, 0.3);
    cursor: pointer;
}
.tab.active {
    background-color: #4793ff;
    color: #ffffff;
}