.next__days {
    padding: 16px;
    border-radius: 0 0 12px 12px;
    background-color: var(--components-background-default);
    box-shadow: var(--components-shadow-default);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    overflow: auto;
}
.weather__card {
    font-size: 12px;
    color: var(--base-color);
    background: var(--card-background-default);
    width: 137px;
    height: 200px;
    padding: 12px 8px;
    border-radius: var(--mini-border-radius);
    cursor: pointer;
}
.day__weather_logo svg {
    width: 52px;
    height: 52px;
}
.day__title, .day__weather_logo, .day__temperature, .night__temperature {
    margin-bottom: 8px;
}
.day__date {
    margin-bottom: 12px;
}
.day__title, .day__temperature span {
    font-size: 18px;
    color: var(--text-color-default);
}
.tabs__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
    margin-bottom: 8px;
}
.tabs__block, .select__tabs {
    display: flex;
    gap: 8px;
}
.tab, .close {
    padding: 8px 12px;
    border-radius: var(--mini-border-radius);
    background-color: var(--components-background-default);
    box-shadow: var(--components-shadow-default);
    cursor: pointer;
}
.tab.active {
    background-color: var(--primary-color);
    color: #ffffff;
}