.next__days {
    padding: 16px;
    border-radius: 0 0 12px 12px;
    background-color: var(--components-background-default);
    box-shadow: var(--components-shadow-default);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    box-sizing: border-box;
}
.weather__card {
    font-size: 12px;
    color: var(--base-color);
    background: var(--card-background-default);
    max-width: 236px;
    min-width: 96px;
    width: 100%;
    min-height: 200px;
    padding: 12px 8px;
    border-radius: var(--mini-border-radius);
    cursor: pointer;
}
.day__weather_logo svg {
    width: 52px;
    height: 52px;
}
.day__title, .day__weather_logo, .day__temperature, .night__temperature {
    margin-bottom: 8px;
}
.day__date {
    margin-bottom: 12px;
}
.day__title, .day__temperature span {
    font-size: 16px;
    color: var(--text-color-default);
}
.tabs__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}
.tabs__block, .select__tabs {
    display: flex;
    gap: 8px;
}
.tab, .close {
    padding: 8px 12px;
    border-radius: var(--mini-border-radius);
    background-color: var(--components-background-default);
    box-shadow: var(--components-shadow-default);
    cursor: pointer;
}
.tab.active {
    background-color: var(--primary-color);
    color: #ffffff;
}
.close img {
    display: none;
}

@media (max-width:880px) {
    .next__days {
        overflow-x: scroll;
    }
}
@media (max-width:540px) {
    .day__title, .day__temperature span, .tab {
        font-size: 13px;
    }
    .close img {
        display: block;
    }
    .close span {
        display: none;
    }
}
