.this__day_details {
    width: calc(66.6% - 40px);
    min-width: 328px;
    padding: 16px;
    border-radius: 0 12px 12px 12px;
    background: var(--components-background-default);
    box-shadow: var(--components-shadow-default);
}
.current__city {
    font-size: 24px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.current__city img {
    margin-left: 12px;
}
.top__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 328px;
}
.current__temperature {
    font-size: 96px;
    font-weight: 700;
    color: var(--primary-color);
}
.weather__logo svg {
    width: 96px;
    height: 96px;
}
.bottom__block {
    font-size: 24px;
    font-weight: 500;
    color: var(--base-color);
    line-height: 1.4;
    margin-bottom: 16px;
}

.day__details_item {
    margin-top: 16px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 12px;
}
.day__details_indicator {
    width: 36px;
    height: 36px;
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: var(--components-shadow-default);
}
.day__details_indicator svg {
    width: 20px;
    height: 20px;
}
.indicator__name {
    color: var(--base-color);
    margin-right: 8px;
}

@media (max-width:390px) {
    .current__temperature {
        font-size: 72px;
    }
    .indicator__name {
        display: none;
    }
}
