.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    color: #000000;
}
.wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
.logo {
    margin-right: 16px;
}
.logo svg {
    width: 52px;
    height: 52px;
}
.title {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 600;
    color: var(--primary-color);
    text-decoration: none;
}

@media (max-width:360px) {
    .title {
        font-size: 24px;
    }
}